## Generated documents:
*.pdf
*.tuc
*.mpx

## MetaPost EPS output
*.[0-9]
*.[0-9][0-9]















## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log

# fixme
*.lox

# listings
*.lol

# todonotes
*.tdo
